{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Clusterfunk EP Release{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Clusterfunk EP Release</h1>
        <div style="text-align: center;">
            <div>
                <img src="/static/images/cluster_funk.jpg" style="width:500px;height:600px;">
            </div>
            <div>
                <p>
                    <a href="https://do512.com/events/2019/3/30/clusterfunk-ep-release-w-tc-superstar-garden-cosmos">Tickets</a><br>
                    Date and Time: March 30<sup>th</sup> at 9pm<br>
                    <a href="{{url_for('empire_control_room')}}">Empire Control Room</a><br>
                    Featuring: <a href="{{url_for('tc_superstar')}}">Tc Superstar</a>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
