{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Drip Drop IV{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Drip Drop IV</h1>
        <div style="text-align: center;">
            <div>
                <img src="/static/images/drip_drop.jpg" style="width:500px;height:600px;">
            </div>
            <div>
                <p>
                    <a href="https://www.eventbrite.com/e/drip-drop-iv-official-lgbt-texas-relay-turn-up-tickets-57106795964">Tickets</a><br>
                    Date and Time: April 20<sup>th</sup> at 9:30 pm<br>
                    <a href="{{url_for('cheer_up_charlies')}}">Cheer Up Charlies</a><br>
                    Featuring: DJ Nevolution AND DJ Nneka The Plug
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
