{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ show.show_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{{ show.show_name }}</h1>
        <div style="text-align: center;">
            <div>
                <img class = "width-100" src="{{ show.flyer }}">
            </div>
            <div>
                <h5>
                    <br><a href="{{ show.tickets }}">Tickets</a><br><br>
                    <u>Date and Time:</u><br><br>
                    <b>{{ show.date_time }}</b><br><br>
                    <u>Venue:</u><br>
                </h5>
                <p>
                    <!-- venue -->
                    {% set exists = [] %}
                    {% for venue in venues %}
                        {% if show.venue == venue.venue_name %}  <!---check if artist is in band.groups...i think-->
                            {% if exists.append(0) %}{% endif %}
                        {% endif %}
                    {% endfor %}  
                    {% if exists|length == 0 %}
                            {{show.venue}}<br><br>
                        {% else %}
                            <a href="/venues/{{ show.venue }}">{{ show.venue }}</a><br><br>
                    {% endif %}
                </p>
                <h5>
                    <u>Featuring:</u><br>
                </h5>
                <p>
                    <!-- featuring artists -->
                    {% for artist in show.featured_artists.split(",") %}
                        {% set exists = [] %}
                        {% for band in bands %}
                            {% if artist.lower().strip() == band.group.lower().strip() %}  <!---check if artist is in band.groups...i think-->
                                {% if exists.append(0) %}{% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if exists|length == 0 %}
                            {{artist}}<br>
                        {% else %}
                            <a href="/artists/{{ artist }}">{{ artist }}</a> <br>
                        {% endif %}
                    {% endfor %}  
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
