{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ show.show_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{{ show.show_name }}</h1>
        <div style="text-align: center;">
            <div>
                <img class = "width-100" src="{{ show.flyer }}">
            </div>
            <div>
                <p>
                    <a href="{{ show.tickets }}">Tickets</a><br>
                    Date and Time: {{ show.date_time }}<br>
                    <a href="{{ show.venue }}">{{ show.venue }}</a><br> <!--set proper href-->
                    Featuring: 
                    {% for artist in show.featured_artists.split(",") %}
                        {% if artist in show.featured_artists %}  <!---check if artist is in band.groups...i think-->
                            <a href="{{ artist }}">{{ artist }}</a> <br>
                        {% else %}
                            {{ artist }}
                        {% endif %}
                    {% endfor %}  
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
