{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Cheer Up Charlies{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Cheer Up Charlies</h1>
        <div style="text-align: center;">
            <img src="/static/images/cheer_up_charlies.jpg">
        </div>
        <!-- About Section -->
        <div>
            <br>
            <h3>About</h3>
            <p>
                The fun, gay uncle of the Red River bar and live music scene, Cheer Ups is one of the most cheerful, inviting, and beloved venues on the block. Featuring random rainbow art, unicorns, and funkiness all around, the vegan bar serves a creative blend of cocktails (kale lime gingerita), as well as local beers, organic teas, and kombucha on tap. Outside, the limestone-dressed stage remains home to a variety of eclectic events, from crafts nights to karaoke, Peaches to John Legend.
            </p>
        </div>
        <!-- Location Section -->
        <div>
            <br>
            <h3>Location</h3>
            <p>
                900 Red River Street, Austin, Tx  <br>
                <img src="/static/images/cheer_up_charlies_map.jpg" height="200px">
            </p>
        </div>

        <!-- Contact information -->
        <div>
            <br>
            <h3>Contact</h3>
            https://www.facebook.com/cheerupcharlies<br>
            https://twitter.com/CheerUpCharlies<br>
            https://www.instagram.com/cheerupcharlies/<br>
        </div>
    </div>


{% endblock content %}