{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Cheer Up Charlies{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Cheer Up Charlies</h1>
        <div style="text-align: center;">
            <img class = "width-100" src="/static/images/cheer_up_charlies.jpg">
        </div>
        <!-- About Section -->
        <div>
            <br>
            <h3>About</h3>
            <p>
                The fun, gay uncle of the Red River bar and live music scene, Cheer Ups is one of the most cheerful, inviting, and beloved venues on the block. Featuring random rainbow art, unicorns, and funkiness all around, the vegan bar serves a creative blend of cocktails (kale lime gingerita), as well as local beers, organic teas, and kombucha on tap. Outside, the limestone-dressed stage remains home to a variety of eclectic events, from crafts nights to karaoke, Peaches to John Legend.
            </p>
        </div>
        <!-- Upcoming Shows -->
        <div>
            <br>
            <h3>Upcoming Shows</h3>
            <ul>
                <li>
                    <a href="{{url_for('drip_drop_iv')}}">Drip Drop IV: Official LGBT Texas Relay Turn Up with DJs Nevolution & Nneka The Plug, 03.30 @ 10p</a>
                </li>
                <li>
                    Featuring BLXPLTN, Hi Gene, MAMIS, Pataphysics 04.10 @ 9p
                </li>
                <li>
                    <a href="{{url_for('queer_dance_party')}}">Queer Dance Party Featuring TC Superstar, 04.12 @ 9:30p</a>
                </li>
                <li>
                    Josh Denslow’s Book Release Party with Octopus Project DJs, Marmalakes, ANDY, Thor & Friends, MajorMajorMajor, Borrisokane & more, 04.26 @ 9:30p
                </li>
            </ul>
        </div>
        <!-- Location Section -->

        <div class="row">
            <div class="col-md-6">
                <br>
                <h3>Location</h3>
                <iframe width="400" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJmTEPp6a1RIYRdZeM-9KEckw&key=AIzaSyAfxluUBh_b2hLLZo0Feoo1CvD_lCIkdkA" allowfullscreen></iframe>
            </div>

            <!-- Contact information -->
            <div class="col-md-6">
                <br>
                <h3>Contact</h3>
                <a href="https://www.facebook.com/cheerupcharlies" target="_blank">Facebook</a><br>
                <a href="https://twitter.com/CheerUpCharlies" target="_blank">Twitter</a><br>
                <a href="https://www.instagram.com/cheerupcharlies/" target="_blank">Instagram</a><br>
            </div>
        </div>
    </div>


{% endblock content %}