{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Empire Control Room & Garage{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Empire Control Room & Garage</h1>
        <div style="text-align: center;">
            <img class = "width-100" src="/static/images/empire.jpg">
        </div>
        <!-- About Section -->
        <div>
            <br>
            <h3>About</h3>
            <p>
                Empire is a 15,000 square foot modern music space at 7th and Red River, dedicated to presenting quirky, warehouse style events that feel more like adventurous discoveries than everyday affairs.
            </p>
        </div>
        <!-- Location Section -->
        <div>
            <br>
            <h3>Location</h3>
            <iframe width="400" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJqdVV1KW1RIYRG_Lx4LDE43M&key=AIzaSyAfxluUBh_b2hLLZo0Feoo1CvD_lCIkdkA" allowfullscreen></iframe>
        </div>

        <!-- Contact information -->
        <div>
            <br>
            <h3>Contact</h3>
            <a href="http://empireatx.com/" target="_blank">Venue Website</a><br>
            <a href="https://www.facebook.com/EmpireATX" target="_blank">Facebook</a><br>
            <a href="https://instagram.com/empireatx/" target="_blank">Instagram</a><br>
            <a href="https://twitter.com/EmpireATX" target="_blank">Twitter</a><br>
            <a href="http://empireatx.tumblr.com/" target="_blank">Tumblr</a><br>
        </div>

        <!-- Upcoming Shows -->
        <div>
            <br>
            <h3>Upcoming Shows</h3>
            <ul>
                <li>
                    <a href="{{url_for('cluster_funk')}}">Clusterfunk EP Release, 03.30 @ 9pm</a>
                </li>
                <li>
                    Resonant Frequency, 04.05 @ 9p
                </li>
                <li>
                    Fashion for Humans, 04.07 @ 6p
                </li>
                <li>
                    Night Beats w/ Cosmonauts, 04.27 @ 9p
                </li>
            </ul>
        </div>
    </div>


{% endblock content %}