{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Empire Control Room & Garage{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1 class="text-center">Empire Control Room & Garage</h1>
    <div style="text-align: center;">
        <img src="/static/images/mohawk.jpg">
    </div>
    <!-- About Section -->
    <div>
        <br>
        <h3>About</h3>
        <p>
            Mohawk is a beloved destination bar and live music/event venue located on the corner of 10th and Red River in downtown Austin, Texas. Opened in 2006 as a place to showcase the best emerging creative talent from Austin and beyond, this venue is known for killer shows, good 'ol fashioned service, strong pours and excellent parties. Mohawk is a unique indoor/outdoor multilevel space in the heart of downtown, both built and driven by a team of Austinites who work every day to bring something unique to the table. Stop in for happy hour seven days a week and live music nearly every night. Private event bookings available. All Are Welcome.
        </p>
    </div>
    <!-- Location Section -->
    <div>
        <br>
        <h3>Location</h3>
        <p>
            912 Red River St, Austin, TX <br>
            <img src="/static/images/mohawk_map.jpg" height="200px">
        </p>
    </div>

    <!-- Contact information -->
    <div>
        <br>
        <h3>Contact</h3>
        https://mohawkaustin.com/<br>
        https://www.facebook.com/mohawkaustin<br>
        http://instagram.com/mohawkaustin/<br>
        https://twitter.com/mohawkaustin<br>
        http://mohawkaustin.tumblr.com/<br>
    </div>


{% endblock content %}