{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Empire Control Room & Garage{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Empire Control Room & Garage</h1>
        <div style="text-align: center;">
            <img src="/static/images/empire.jpg">
        </div>
        <!-- About Section -->
        <div>
            <br>
            <h3>About</h3>
            <p>
                Empire is a 15,000 square foot modern music space at 7th and Red River, dedicated to presenting quirky, warehouse style events that feel more like adventurous discoveries than everyday affairs.
            </p>
        </div>
        <!-- Location Section -->
        <div>
            <br>
            <h3>Location</h3>
            <p>
                606 E. 7th Street Austin, TX  <br>
                <img src="/static/images/empire_map.jpg" height="200px">
            </p>
        </div>

        <!-- Contact information -->
        <div>
            <br>
            <h3>Contact</h3>
            http://empireatx.com/<br>
            https://www.facebook.com/EmpireATX<br>
            https://instagram.com/empireatx/<br>
            https://twitter.com/EmpireATX<br>
            http://empireatx.tumblr.com/<br>
        </div>
    </div>


{% endblock content %}