{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Mohawk{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Mohawk</h1>
        <div style="text-align: center;">
            <img class = "width-100" src="/static/images/mohawk.jpg">
        </div>
        <!-- About Section -->
        <div>
            <br>
            <h3>About</h3>
            <p>
                Mohawk is a beloved destination bar and live music/event venue located on the corner of 10th and Red River in downtown Austin, Texas. Opened in 2006 as a place to showcase the best emerging creative talent from Austin and beyond, this venue is known for killer shows, good 'ol fashioned service, strong pours and excellent parties. Mohawk is a unique indoor/outdoor multilevel space in the heart of downtown, both built and driven by a team of Austinites who work every day to bring something unique to the table. Stop in for happy hour seven days a week and live music nearly every night. Private event bookings available. All Are Welcome.
            </p>
        </div>

        <div class="row">
            <!--Location -->
            <div class="col-md-6">
                <br>
            <h3>Location</h3>
            <iframe width="400" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ1aFZAqS1RIYRu5WiNjw8b0A&key=AIzaSyAfxluUBh_b2hLLZo0Feoo1CvD_lCIkdkA" allowfullscreen></iframe>
        </div>

            <!-- Contact information -->
            <div class="col-md-6">
                <br>
            <h3>Contact</h3>
            <a href="https://mohawkaustin.com/" target="_blank">Venue Website</a><br>
            <a href="https://www.facebook.com/mohawkaustin" target="_blank">Facebook</a><br>
            <a href="http://instagram.com/mohawkaustin/" target="_blank">Instagram</a><br>
            <a href="https://twitter.com/mohawkaustin" target="_blank">Twitter</a><br>
            <a href="http://mohawkaustin.tumblr.com/" target="_blank">Tumblr</a><br>
            </div>
        </div>
        c
        <!-- Upcoming Shows -->
        <div>
            <br>
            <h3>Upcoming Shows</h3>
            <ul>
                <li>
                    Anarchy Championship Wrestling, 03.24 @ 5p
                </li>
                <li>
                    Wild Disguise, 03.25 @ 7p
                </li>
                <li>
                    Auntie, 03.26 @ 10p
                </li>
                <li>
                    Hortie & Friends, 03.28 @ 8pm                
                </li>
            </ul>
        </div>
    </div>

{% endblock content %}