{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Explosions in the Sky{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Explosions in the Sky</h1>
        <div style="text-align: center;">
            <img src="/static/images/explosions_in_the_sky.jpg">
        </div>
        <!-- Members 
            Should be under image in small text -->
        <p>
            <br>
            Members: 
            Chris Hrasky – drums,
            Michael James – guitar, bass guitar,
            Munaf Rayani – guitar, keyboards, percussion,
            Mark Smith – guitar
        </p>

        <!-- Genre -->
        <p>Genre: Rock</p>

        <!-- About the artist 
            Title, with about information -->
        <div>
            <h3>About</h3>
            <p>Explosions in the Sky is an American post-rock band from Texas. The quartet originally played under the name Breaker Morant, then changed to the current name in 1999. The band has garnered popularity beyond the post-rock scene for their elaborately developed guitar work, narratively styled instrumentals - what they refer to as "cathartic mini-symphonies" - and their enthusiastic and emotional live shows.[1] They primarily play with three electric guitars and a drum kit, although band member Michael James will at times exchange his electric guitar for a bass guitar. The band has later added a fifth member to their live performances. The band's music is almost purely instrumental.</p>
        </div>

        <!-- Tour dates -->
        <div class="graph-page-container">
            <div class="container page-title-container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-lg-offset-4">
                        <h3 class="text-center">Tour</h3>
                    </div>
                </div>
                    <div class="row table-row justify-content-center">
                        <div class="col">
                            <table class="table table-hover">
                                <tr>
                                    <th>Date</th>
                                    <th>Venue</th>
                                    <th>Location</th>
                                    <th>Show Information</th>
                                </tr>
                                <tr>
                                    <td>THU, MAY 09</td>
                                    <td>BANDAI NAMCO DREAM HALL</td>
                                    <td>SHANGHAI, CHINA</td>
                                    <td>None</td>
                                </tr>
                                <tr>
                                    <td>FRI, MAY 10</td>
                                    <td>TANGO 3F</td>
                                    <td>BEIJING, CHINA</td>
                                    <td>None</td>
                                </tr>
                                <tr>
                                    <td>SUN, MAY 12</td>
                                    <td>O-EAST</td>
                                    <td>TOKYO, JAPAN</td>
                                    <td>None</td>
                                </tr>
                                <tr>
                                    <td>MON, MAY 13</td>
                                    <td>CLUB QUATTRO</td>
                                    <td>OSAKA, JAPAN</td>
                                    <td>None</td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Links -->
        <div>
            <h4>Check them out at...</h4>
            <p>
                http://www.explosionsinthesky.com/ <br>
                https://www.facebook.com/ExplosionsInTheSkyMusic <br>
                https://twitter.com/eits <br>
                https://www.instagram.com/explosionsinthesky <br>
                http://hyperurl.co/rlu2ol <br>
            </p>
        </div>
    </div>

{% endblock content %}