{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ band.group }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{{ band.group }}</h1>
        <div style="text-align: center;">
            <img class = "width-100" src="{{ band.image }}">
        </div>

        <!-- About the artist
            Title, with about information -->
        <br>
        <br>
        <div>
            <h3>About</h3>
            <p>{{ band.group_summary }}</p>
        </div>

        <!-- Members
            Should be under image in small text -->
        <p>
        <h3>Members:</h3>
            {% for artist in band.artists.split(",") %}
                {{ artist }}<br>
            {% endfor %}
        </p>

        <!-- Genre -->
        <p><h3>Genre:</h3> {{ band.genre }}</p>

        <!-- Tour dates -->
        <div class="graph-page-container">
            <div class="container page-title-container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-lg-offset-4">
                        <h3 class="text-center">Shows</h3>
                    </div>
                </div>
                    <div class="row table-row justify-content-center">
                        <div class="col">
                            <table class="table table-hover">
                                <tr>
                                    <th>Date</th>
                                    <th>Venue</th>
                                    <th>Location</th>
                                    <th>Show Information</th>
                                </tr>
                                {% for show in shows %}
                                    {% for venue in venues %}
                                        {% if (band.group.lower() in show.featured_artists.lower()) and (show.venue.lower() in venue.venue_name.lower()) %}
                                            <tr>
                                                <td>{{ show.date_time }}</td>
                                                <td><a href="/venues/{{ venue.venue_name }}">{{ show.venue }}</a></td>
                                                <td>{{ venue.location }}</td>
                                                <td><a href="/shows/{{ show.show_name.replace('/', '') }}">{{ show.show_name }}</a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Links -->
        <div>
            <br>
            <br>
            <h4>Check them out on...</h4>
            <p>
                {% for social in (band.social_media.split("\n") + [band.external_links]) %}
                    {% if "facebook" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-facebook"></i> Facebook</i></a><br>
                    {% elif "youtube" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-youtube"></i> Youtube</a><br>
                    {% elif "twitter" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-twitter"></i> Twitter</a><br>
                    {% elif "instagram" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-instagram"></i> Instagram</a><br>
                    {% elif "m.me" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-facebook-messenger"></i> Facebook Messager</a><br>
                    {% elif "itunes" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-itunes"></i> iTunes</a><br>
                    {% elif "amazon" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-amazon"></i> Amazon</a><br>
                    {% elif "spotify" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-spotify"></i> Spotify</a><br>
                    {% elif "bandcamp" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-bandcamp"></i> Bandcamp</a><br>
                    {% elif "dualtonestore" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fas fa-external-link-alt"></i> DualToneStore</a><br>
                    {% elif "vuhaus" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fas fa-external-link-alt"></i> Vuhaus</a><br>
                    {% elif "soundcloud" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-soundcloud"></i> SoundCloud</a><br>
                    {% elif "bandsintown" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fas fa-external-link-alt"></i> Bands In Town</a><br>
                    {% elif "reverbnation" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fas fa-external-link-alt"></i> Reverb Nation</a><br>
                    {% elif "play.google" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-google-play"></i> Google Play</a><br>
                    {% elif "wikipedia" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-wikipedia-w"></i> Wikipedia</a><br>
                    {% elif "tumblr" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fab fa-tumblr"></i> Tumblr</a><br>
                    {% elif "songkick" in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fas fa-external-link-alt"></i> Song Kick</a><br>
                    {% elif band.group.replace(" ", "").lower() in social.lower() %}
                        <a href="{{ social }}" target="_blank"><i class="fas fa-external-link-alt"></i> Website</a><br>
                    {% else %}
                        <a href="{{ social }}" target="_blank"><i class="fas fa-external-link-alt"></i> Exteral Link</a><br>
                    {% endif %}                
                {% endfor %}
            </p>
        </div>
    </div>

{% endblock content %}
