<!-- any changes to main formatting do to base.html -->
{% extends 'base.html' %}


<!-- controls page title, "- Local Austin Musicians" will always come after it -->
{% block header %}
    <h1>{% block title %}About{% endblock %}</h1>
{% endblock %}



<!-- contains content of the page -->
{% block content %}
    <div class="container main-title-container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-lg-offset-4">
                <h1 class="text-center">About</h1>
            </div>

        </div>
    </div>


    <h2>Group 11</h2>

    <h3>Members</h3>

    <h4>Name</h4>

    <h4>Photo</h4>

    <h4>Bio</h4>

    <h4>Major Responsibilities</h4>

    <h4>Number of commits</h4>

    <h4>Number of issues</h4>

    <h4>Number of unit tests</h4>

    <!-- name, photo, bio, major responsibilities, number of commits, number of issues, number of unit tests -->

    <h3>Stats</h3>

    <h4>Total Number of Commits</h4>

    <h4>Total Number of Issues</h4>

    <h4>Total Number of Unit Tests</h4>
    <!--number of commits total, total no of issues,
    total number of unit tests, link to gitlab issue tracker, link to gitlab repo, link to gitlab wiki -->


    <h3>Data</h3>

    <!--Links to data sources -->

    <h3> Tools</h3>

    <!--Tools used -->

{% endblock content %}
