
{% extends 'base.html' %}

{% block content %}
<h1>About</h1>

<h2>Group 11</h2>

<h3>Members</h3>
<p>
    This lsdjflasdjf lksadf
</p>

<!-- name, photo, bio, major responsibilities, number of commits, number of issues, number of unit tests -->

<h3>Stats</h3>

<!--number of commits total, total no of issues,
total number of unit tests, link to gitlab issue tracker, link to gitlab repo, link to gitlab wiki -->


<h3>Data</h3>

<!--Links to data sources -->

<h3> Tools</h3>

<!--Tools used -->

{% enblock content %}