<!-- any changes to main formatting do to base.html -->
{% extends 'base.html' %}


<!-- controls page title, "- Local Austin Musicians" will always come after it -->
{% block header %}
    <h1>{% block title %}About{% endblock %}</h1>
{% endblock %}



<!-- contains content of the page -->
{% block content %}
    <link rel="stylesheet" href="/static/css/about.css">

    <!-- Main Page -->
    <div class="container page-title-container">
        <!-- Title -->
        <div class="row justify-content-center" style = "padding-top: 50px;">
          <div class="col-lg-4 col-lg-offset-4">
              <h1 class="text-center">About</h1>
          </div>
        </div>
        <!-- Group -->
        <div class="row justify-content-center">
          <div class="col-lg-4 col-lg-offset-4">
              <h2 class="text-center" style = "color: grey;">Group 11</h2>
          </div>
        </div>
        <!-- People -->
        <!-- Start Rows -->
        <div class="row justify-content-center">
          <!-- Adriana -->
          <div class="card card-custom">
            <div class="card-body split-topbottom">
              <div>
                <h2 class="card-title">Adriana Cardenas</h2>
                <h6 class="card-subtitle mb-2 text-muted">Full-Stack</h6>
                <img class = "about" src="/static/images/adriana.jpg" alt="adriana cardenas" >
                <p>
                  I'm a Senior in Biochemistry doing Python development. I'm very into the local music scene and love providing better access to it!
                </p>
              </div>
              <div>
                <h5>Number of commits</h5>

                <h5>Number of issues</h5>

                <h5>Number of unit tests</h5>
              </div>
            </div>
          </div>
          <!-- Christian -->
          <div class="card card-custom">
            <div class="card-body split-topbottom">
              <div>
                <h2 class="card-title">Christian Gil</h2>
                <h6 class="card-subtitle mb-2 text-muted">Initial Setup, Full-stack</h6>
                <img class = "about" src="/static/images/christian2.jpg" alt="christian gil" >
                <p>
                  Hey! My name is Christian and I am a Senior in Biomedical Engineering. I love to code and I look forward to continuing my career in software engineering.
                </p>
              </div>
              <div>
                <h5>Number of commits</h5>

                <h5>Number of issues</h5>

                <h5>Number of unit tests</h5>
              </div>
            </div>
          </div>
          <!-- Katelynn -->
          <div class="card card-custom">
            <div class="card-body split-topbottom">
              <div>
                <h2 class="card-title">Katelynn Whittington</h2>
                <h6 class="card-subtitle mb-2 text-muted">Front-end</h6>
                <img class = "about" src="/static/images/katelynn.jpeg" alt="name" >
                <p>
                  Fourth-year student at The University of Texas at Austin.
                </p>
              </div>
              <div>
                <h5>Number of commits</h5>

                <h5>Number of issues</h5>

                <h5>Number of unit tests</h5>
              </div>
            </div>
          </div>
          <!-- Kevin -->
          <div class="card card-custom">
            <div class="card-body split-topbottom">
              <div>
                <h2 class="card-title">Kevin Han</h2>
                <h6 class="card-subtitle mb-2 text-muted">Front-end, Data</h6>
                <img class = "about" src="/static/images/kevin.jpg" alt="name" >
                <p>
                    Senior Biomedical Engineering Student, with focus on computational engineering.
                    Life is short, go get your own lemons and make your own lemonade!
                </p>
              </div>
              <div>
                <h5>Number of commits</h5>

                <h5>Number of issues</h5>

                <h5>Number of unit tests</h5>
              </div>
            </div>
          </div>
          <!-- Daniel Noble -->
          <div class="card card-custom">
            <div class="card-body split-topbottom">
              <div>
                <h2 class="card-title">Daniel Noble Hernandez</h2>
                <h6 class="card-subtitle mb-2 text-muted">Front-end</h6>
                <img class = "about" src="/static/images/Daniel.png" alt="name" >
                <p>
                  I'm a senior biomedical engineering major on the computational engineering track. Next semester I'll be starting my master's in computer science here at UT.
                </p>
              </div>
              <div>
                <h5>Number of commits</h5>

                <h5>Number of issues</h5>

                <h5>Number of unit tests</h5>
              </div>
            </div>
          </div>

          <div class="card card-custom">
            <div class="card-body split-topbottom">
              <div class="card-body">
                  <h2 class="card-title">Project Stats</h2>
                  <h6 class="card-subtitle mb-2 text-muted">Overall</h6>
                  <h5>Total Number of Commits: </h5>
                  <h5>Total Number of Issues: </h5>
                  <h5>Total Number of Unit Tests: </h5>
                  <!--number of commits total, total no of issues,
                  total number of unit tests, link to gitlab issue tracker, link to gitlab repo, link to gitlab wiki -->
                  <h5>Data: </h5>
                  <!--Links to data sources -->
                  <h5> Tools:</h5> Flask, Bootstrap, Google Cloud Platform, IntelliJ IDE, W3C
                  <!--Tools used -->
                </div>
              </div>
            </div>
          </div>

        <!-- Close Rows -->
        </div>

{% endblock content %}
