{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Artists{% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="graph-page-container">
        <div class="container page-title-container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-lg-offset-4">
                    <h1 class="text-center">Artists</h1>
                </div>
            </div>
                <div class="row table-row justify-content-center">
                    <div class="col">
                        <table class="table table-hover">
                            <tr>
                                <th>Artist Name</th>
                                <th>Members</th>
                                <th>Genre</th>
                                <th>Shows</th>
                                <th>Year Started</th>
                            </tr>
                            <tr>
                                <td>Octopus Project</td>
                                <td>Josh Lambert, Toto Miranda, Yvonne Lambert, Lauren Gurgiolo</td>
                                <td>Electronic</td>
                                <td>Not On Tour</td>
                                <td>1999</td>
                            </tr>
                                <tr>
                                <td>Explosions in the Sky</td>
                                <td>Chris Hrasky, Michael James, Munaf Rayani, Mark Smith</td>
                                <td>Rock</td>
                                <td>On Tour</td>
                                <td>1999</td>
                            </tr>
                                <tr>
                                <td>TC Superstar</td>
                                <td>Mitchell Webb, Julio Correa, LB Flett, Emily DiFranco,<br> Francis Rodriguez, Eileen Yuriko Roby, Aaron Chavez,<br> Connor McCampbell</td>
                                <td>Electronic</td>
                                <td>On Tour</td>
                                <td>2016</td>
                            </tr>

                        </table>
                    </div>
                </div>
        </div>
    </div>



{% endblock content %}
