{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Artists{% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="graph-page-container">
        <div class="container page-title-container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-lg-offset-4">
                    <h1 class="text-center">Artists</h1>
                </div>
            </div>
                <div class="row table-row justify-content-center">
                    <div class="col">
                        <table id="dtBasicExample" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Artist Name</th>
                                    <th>Members</th>
                                    <th>Genre</th>
                                    <th>Shows</th>
                                    <th>Year Started</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for band in bands %}
                                <tr>
                                    <td>
                                        <a href="{{ band.group }}">{{ band.group }}</a>
                                    </td>
                                    <td>{{ band.artists }}</td>
                                    <td>{{ band.genre }}</td>
                                    <!-- Is the band on tour? -->
                                    {% if band.tour != "" %}
                                        <td>On Tour</td>
                                    {% else %}
                                        <td>Not On Tour</td>
                                    {% endif %}
                                    <!-- If the year is zero, dont write anything -->
                                    {% if band.year_started == 0 %}
                                        <td></td>
                                    {% else %}
                                        <td>{{ band.year_started }}</td>
                                    {% endif %}
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>



{% endblock content %}
