<!-- any changes to main formatting do to base.html -->
{% extends 'base.html' %}


<!-- controls page title, "- Local Austin Musicians" will always come after it -->
{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}



<!-- contains content of the page -->
{% block content %}
    <div class = "full-page-container-austin">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1 class="text-center cover">
                        Austin Musicians
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="text-center">
                        <div class="card mb-3" style="max-width: 100%; max-height: 50%;">

                          <div class="card-body text-dark cover-card">
                            <h3 class="card-title">Not sure what you're doing tonight?</h3>
                              <p class="card-text"><em>Groove better in your own city</em></p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





{% endblock content %}