<!-- any changes to main formatting do to base.html -->
{% extends 'base.html' %}


<!-- controls page title, "- Local Austin Musicians" will always come after it -->
{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}



<!-- contains content of the page -->
{% block content %}

        <div class="main-title-container">
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text-center cover">
                    <a href="{{ url_for('models') }}"><img src="/static/images/logo.png" alt="austin musicians"></a>
                </h1>
            </div>
        </div>


{% endblock content %}