<!-- any changes to main formatting do to base.html -->
{% extends 'base.html' %}


<!-- controls page title, "- Local Austin Musicians" will always come after it -->
{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}



<!-- contains content of the page -->
{% block content %}
<div class = "full-page-container-austin">
    <div class="main-title-container-austin">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text-center cover">
                    <img src="/static/images/logo.png" alt="austin musicians">
                </h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
        <div class="col">
            <h3 class="text-center fancy-cursive">Groove Better in Your Own City</h3>
        </div>
    </div>
</div>


{% endblock content %}