{% extends 'base.html' %}

{% block content %}
    <h1>HW</h1>

    <h1>World Disasters</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Location</th>
            <th>World Organization Involved</th>
            <th>Human Impact</th>
        </tr>
        <tr>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
            <tr>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
            <tr>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>

    </table>

{% endblock content %}
