{% extends 'base.html' %} 

{% block header %}
    <h1>{% block title %}Shows{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="graph-page-container">
        <div class="container page-title-container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-lg-offset-4">
                    <h1 class="text-center">Shows & Tours</h1>
                </div>
            </div>
                <div class="row table-row justify-content-center">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Show</th>
                                    <th>Presented by</th>
                                    <th>Featured Artists</th>
                                    <th>Venue</th>
                                    <th>Date & Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for show in shows %}
                                    <tr>
                                        <td>
                                            {% if "/" in show.show_name %}
                                                <a href="{{ show.show_name.replace("/", "") }}">{{ show.show_name }}</a>
                                            {% else %}
                                                <a href="{{ show.show_name }}">{{ show.show_name }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ show.presented_by }}</td>
                                        <td>
                                            {% for artist in show.featured_artists.split(",") %}
                                                {% set exists = [] %}
                                                {% for band in bands %}
                                                    {% if artist == band.group %}  <!---check if artist is in band.groups...i think-->
                                                        {% if exists.append(0) %}{% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if exists|length == 0 %}
                                                    {{artist}}<br>
                                                {% else %}
                                                    <a href="/artists/{{ artist }}">{{ artist }}</a> <br>
                                                {% endif %}
                                            {% endfor %}                                        
                                        </td>
                                        <td>
                                            <!-- venue -->
                                            {% set exists = [] %}
                                            {% for venue in venues %}
                                                {% if show.venue == venue.venue_name %}  <!---check if artist is in band.groups...i think-->
                                                    {% if exists.append(0) %}{% endif %}
                                                {% endif %}
                                            {% endfor %}  
                                            {% if exists|length == 0 %}
                                                    {{show.venue}}<br>
                                                {% else %}
                                                    <a href="/venues/{{ show.venue }}">{{ show.venue }}</a> <br>
                                            {% endif %}
                                        </td>
                                        <td>{{ show.date_time }}</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <!--name, kind, location, history, contact info, citations, external links -->
    <!-- embedded images, social network, maps, etc -->
    <!-- links back to crises and people -->

{% endblock content %}
