{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Shows{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="graph-page-container">
        <div class="container page-title-container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-lg-offset-4">
                    <h1 class="text-center">Shows & Tours</h1>
                </div>
            </div>
                <div class="row table-row justify-content-center">
                    <div class="col">
                        <table class="table table-hover">
                            <tr>
                                <th>Show</th>
                                <th>Presented by</th>
                                <th>Featured Artists</th>
                                <th>Venue</th>
                                <th>Date & Time</th>
                            </tr>
                            <tr>
                                <td>
                                    <a href="{{url_for('queer_dance_party')}}">Queer Dance Party</a>
                                </td>
                                <td>FullNote</td>
                                <td>
                                    <a href="{{url_for('tc_superstar')}}">TC Superstar</a>, Pelvis Wresley, Bleached Roses, Carry Illinois
                                </td>
                                <td>
                                    <a href="{{url_for('cheer_up_charlies')}}">Cheer Up Charlies</a>
                                </td>
                                <td>April 12<sup>th</sup> @ 9:30pm</td>
                            </tr>
                                <tr>
                                <td>
                                    <a href="{{url_for('cluster_funk')}}">Clusterfunk EP Release</a>
                                </td>
                                <td>Jam Panic</td>
                                <td>
                                    Clusterfunk, <a href="{{url_for('tc_superstar')}}">TC Superstar</a>, Garden Cosmos
                                </td>
                                <td>
                                    <a href="{{url_for('empire_control_room')}}">Empire Control Room</a>
                                </td>
                                <td>March 30<sup>th</sup> @ 9pm</td>
                            </tr>
                                <tr>
                                <td>
                                    <a href="{{url_for('drip_drop_iv')}}">Drip Drop IV</a>
                                </td>
                                <td>Austin Black Pride + Pink Eleplant Radio</td>
                                <td>DJ Nevolution AND DJ Nneka The Plug</td>
                                <td>
                                    <a href="{{url_for('cheer_up_charlies')}}">Cheer Up Charlies</a> 
                                </td>
                                <td>March 30<sup>th</sup> @ 10pm</td>
                            </tr>

                        </table>
                    </div>
                </div>
        </div>
    </div>
    <!--name, kind, location, history, contact info, citations, external links -->
    <!-- embedded images, social network, maps, etc -->
    <!-- links back to crises and people -->

{% endblock content %}
