<!--
refer to home.html for documentation on flask
-->
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Genres{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="graph-page-container">
        <div class="container page-title-container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-lg-offset-4">
                    <h1 class="text-center">Venues</h1>
                </div>
            </div>
                <div class="row table-row justify-content-center">
                    <div class="col">
                        <table class="table table-hover">
                            <tr>
                                <th>Venue Name</th>
                                <th>Location</th>
                                <th>Genres</th>
                                <th>Year Founded</th>
                                <th>Still Open?</th>
                            </tr>
                            <tr>
                                <td>Cheer Up Charlies</td>
                                <td>900 Red River Street</td>
                                <td>Electronic, Indie, Rock</td>
                                <td>2014</td>
                                <td>Yes</td>
                            </tr>
                                <tr>
                                <td>
                                    <a href="{{url_for('empire_control_room')}}">Empire Control Room & Garage</a>
                                </td>
                                <td>606 East 7th Street</td>
                                <td>Electonic, Dance</td>
                                <td>2013</td>
                                <td>Yes</td>
                            </tr>
                                <tr>
                                <td>
                                    <a href="{{url_for('mohawk')}}">Mohawk</a>
                                </td>
                                <td>912 Red River Street</td>
                                <td>Rock, Indie</td>
                                <td>2006</td>
                                <td>Yes</td>
                            </tr>

                        </table>
                    </div>
                </div>
        </div>
    </div>




<!--Kind, location, date and time, human impact, economic impact, resources needed, ways to help, citations, external links -->
<!-- Embedded images, maps, etc -->

<!-- LINKS TO ORGANIZATIONS -->
<!-- LINKS TO PEOPLE -->

{% endblock content %}
