<!--
refer to home.html for documentation on flask
-->
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Genres{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container page-title-container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-lg-offset-4">
                <h1 class="text-center">Venues</h1>
            </div>

        </div>
    </div>




<!--Kind, location, date and time, human impact, economic impact, resources needed, ways to help, citations, external links -->
<!-- Embedded images, maps, etc -->

<!-- LINKS TO ORGANIZATIONS -->
<!-- LINKS TO PEOPLE -->

{% endblock content %}
