<!--
refer to home.html for documentation on flask
-->
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Venues{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="graph-page-container">
        <div class="container page-title-container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-lg-offset-4">
                    <h1 class="text-center">Venues</h1>
                </div>
            </div>
                <div class="row table-row justify-content-center">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Venue Name</th>
                                    <th>Location</th>
                                    <th>Genres</th>
                                    <th>Days Open</th>
                                    <th>Hours Open</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venue in venues %}
                                <tr>
                                    <td>
                                        <a href="{{ venue.venue_name }}">{{ venue.venue_name }}</a>
                                    </td>
                                    <td>{{ venue.location }}</td>
                                    <!-- Genre(s) listed? -->
                                    {% if venue.genres == "" %}
                                        <td>Various</td>
                                    {% else %}
                                        <td>{{ venue.genres }}</td>
                                    {% endif %}
                                    <!-- is day and hours open available? -->
                                    {% if venue.days_open == "" %}
                                        <td>Not Available</td>
                                    {% else %}
                                        <td>{{ venue.days_open }}</td>
                                    {% endif %}
                                    {% if venue.hours_open == "" %}
                                        <td>Not Available</td>
                                    {% else %}
                                        <td>{{ venue.hours_open }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>

{% endblock content %}
